[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git

[submodule "tmux/plugins/tmux-menus"]
	path = tmux/plugins/tmux-menus
  url = https://github.com/andrew-glenn/tmux-menus.git

[submodule "tmux/tmux-themepack"]
  path = tmux/tmux-themepack
  url = https://github.com/andrew-glenn/tmux-themepack.git
