
! cursor theme for X apps
Xcursor.theme: Adwaita
Xcursor.size:  24

xterm*foreground:  #00ff00
xterm*background:  #000000
xterm*cursorColor: #00ff00

xterm*color0: #000000
xterm*color1: #aa0000
xterm*color2: #00aa00
xterm*color3: #33aa00
xterm*color4: #005500
xterm*color5: #008800
xterm*color6: #00aa44
xterm*color7: #00cc00
xterm*color8: #003300
xterm*color9: #ff0000
xterm*color10: #00ff00
xterm*color11: #55ff00
xterm*color12: #009900
xterm*color13: #00cc44
xterm*color14: #00ff66
xterm*color15: #00ff00
xterm*selectToClipboard: true


! urxvt.background set below with depth:32 ARGB
urxvt.foreground: #00ff00
urxvt.cursorColor: #00ff00

! black
urxvt.color0: #000000
urxvt.color8: #003300

! red (kept functional)
urxvt.color1: #aa0000
urxvt.color9: #ff0000

! green
urxvt.color2: #00aa00
urxvt.color10: #00ff00

! yellow (green-tinted)
urxvt.color3: #33aa00
urxvt.color11: #55ff00

! blue (green-shifted)
urxvt.color4: #005500
urxvt.color12: #009900

! magenta (green-tinted)
urxvt.color5: #008800
urxvt.color13: #00cc44

! cyan (green-tinted)
urxvt.color6: #00aa44
urxvt.color14: #00ff66

! white (green)
urxvt.color7: #00cc00
urxvt.color15: #00ff00

!! rxvt Appearance
urxvt.letterSpace: 0
urxvt.lineSpace: 0
urxvt.geometry: 92x24
urxvt.internalBorder: 24
urxvt.cursorBlink: true
urxvt.cursorUnderline: false
urxvt.saveline: 2048
urxvt.scrollBar: false
urxvt.scrollBar_right: false
urxvt.urgentOnBell: true
urxvt.inheritPixmap: false
urxvt.iso14755: false

! pseudo-transparency off — using composited (picom + depth:32)
URxvt.transparent: false
URxvt.inheritPixmap: false

urxvt.perl-ext-common: default,matcher,-confirm-paste,selection-to-clipboard,pasta,keyboard-select
URxvt.perl-ext:           default,matcher
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
urxvt.keysym.C-minus:     resize-font:smaller
urxvt.keysym.C-plus:      resize-font:bigger
urxvt.keysym.C-equal:     resize-font:reset
urxvt.keysym.C-question:  resize-font:show

urxvt*depth: 32
urxvt*background: [85]#000000

urxvt.font: xft:Hack Nerd Font:size=14:style=Bold, \
  xft:Comic Mono:style=Bold:antialias=true:size=14:minspace=False, \
  xft:UbuntuMono Nerd Font Mono:style=Regular:antialias=true:size=14:minspace=False, \
  xft:SauceCodePro Nerd Font:style=Medium:antialias=true:size=14:minspace=False, \
  xft:DejaVuSansMono Nerd Font:antialias=true:size=14:minspace=False, \
  xft:DroidSansMono Nerd Font Mono:antialias=true:size=14, \
  xft:FuraMono NF:size=14:antialias=true:minspace=False, \
  xft:RobotoMono Nerd Font:antialias=true:size=14:minspace=False, \
  xft:Noto Sans Mono:antialias=true:size=14:minspace=False, \
  xft:Symbola:size=14:antialias=true:minspace=False, \
  xft:Monospace:style=Medium:antialias=true:minspace=False

URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
URxvt.clipboard.autocopy: true
